Source: lingmo-randr
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    cargo,
    debhelper-compat (=13),
    just,
    libwayland-dev,
    pkg-config,
    rustc,
Standards-Version: 4.6.2
Homepage: https://github.com/Matrinsoft/lingmo-randr

Package: lingmo-randr
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Display and configure wayland display outputs
 Display and configure wayland display outputs